#itm_setup{
    text-align:center;
}

#itm_setup>div.item{
    display:inline-block;
    display:none;
    vertical-align:top;
    text-align:left;
    margin:0px 10px 10px 0px;
}

#itm_result{
    font-family:Diablo;
    text-align:center;
    padding-bottom:20px;
    font-size:16px;
    color:var(--item-text);
}

#itm_result>span.number{
    font-family:Diablo;
    font-size:24px;
    font-weight:bold;
    color:var(--rarity-unique);
}

#itm_result.noitems{
    color:var(--diablo-red-dark);
}

#itm_result.noitems>span.number{
    color:var(--diablo-red);
}