@media (max-width: 1420px) {
    div.swrap{width:auto;margin:0px 30px;}
}

@media (max-width: 1000px) {
    .affixesByColumn>div.affix_column{width:50%;}
}

@media (max-width: 850px) {
    .result_table{flex-direction:column;}
    #mobileMenu{display:block;}
    #mainMenu{
        position:absolute;
        top:100%;
        right:0px;
        z-index:100;
        background:#222;
        -webkit-box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 25%);-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 25%);
    }
    #mainMenu>div.item{
        display:block;
        text-align:center;
    }
    #mainMenu>div.item>div{
        padding:10px 20px;
    }
}

@media (max-width: 700px) {
    .affixesByColumn>div.affix_column{width:auto;display:block;}
}

@media (max-width: 450px) {
    #d4ItemTagger{height:auto;}
    #d4ItemTagger>div.vertalign{top:auto;transform:none;}
    #d4ItemTagger>div>div.tag{margin:5px;}
}