<div id="textContent">
    <h1>About</h1>
    <p>Thanks to <a href='https://github.com/blizzhackers/d4data' target='blank'>https://github.com/blizzhackers/d4data</a> and <b class="bold">Nishimura-Katsuo</b> for providing a way to get the game data.</p>
    <p>For any comments, suggestions and bug reports please send an <a href='mailto:dev@d4craft.com'>e-mail</a>.</p>
    <p>If you want to show your appreciation via donation feel free to do so via PayPal below :</p>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input name="business" type="hidden" value="ZSK8XXJMBJCHG">
        <input name="no_recurring" type="hidden" value="0">
        <input name="item_name" type="hidden" value="Thanks for your generosity!">
        <input name="currency_code" type="hidden" value="CAD">
        <input title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" name="submit" src="images/donate_btn.png" type="image">
        <img src="https://www.paypal.com/en_CA/i/scr/pixel.gif" alt="" width="1" height="1">
    </form>
</div>